*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --seesaw-size: 200px;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#8FC0A9, #68B0AB);
}

.main-title {
    margin-top: 1em;
    font-size: 3rem;
    text-align: center;
}

.ground-message {
    display: none;
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
}

.platform {
    width: 100vw;
    height: 40vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.seesaw-wrapper {
    width: var(--seesaw-size);
    height: calc(var(--seesaw-size)*.20);
    transition: all 1s ease;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.seesaw {
    width: var(--seesaw-size);
    height: calc(var(--seesaw-size)*.10);
    background-color: black;
}

.balls {
    width: var(--seesaw-size);
    height: calc(var(--seesaw-size)*.10);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.balls .ball-one {
    width: calc(var(--seesaw-size)*.10);
    height: calc(var(--seesaw-size)*.10);
    background-color: red;
}

.balls .ball-two {
    width: calc(var(--seesaw-size)*.10);
    height: calc(var(--seesaw-size)*.10);
    background-color: red;
}

.buttons {
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttons .rotate-left {
    margin-right: 1em;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid black;
}