.background {
    background: url("background.jpg");
    table-layout: fixed;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.7;

}

.background td {
    padding: 0;
}

.lava {
    background: rgb(255, 100, 100);
}

.wall {
    background: black;
}

.actor {
    position: absolute;
}

.coin {
    background: rgb(241, 229, 89);
}

.player {
    /*width: 20px;*/
    /*height: 20px;*/
    background: url("zombie.png");
}

.monster {
    background: red;
}

.lost .player {
    background: rgb(160, 64, 64);
}
.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.lasergun {
    background: black;
    border-bottom: 3px solid red;
}

.bullet {
    background: yellow;
    border: 2px solid red;
}

.game {
    overflow: hidden;
    max-width: 700px;
    max-height: 500px;
    margin: 100px auto auto;
    position: relative;
}